@import '../node_modules/bootstrap/scss/bootstrap';

$cell-dim: 30px;

* {
  box-sizing: border-box;
}

body {
  background-color: azure;
}

.text-truncated,
.text-truncated-parent,
.text-truncated-parent * {
  /* Ellipsis */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.anchor-name {
  display: block;
  position: relative;
  top: -130px;
  visibility: hidden;
}

.popover {
  z-index: 1029;
}

.navbar-menu {
  color: #eeeeee;
  font-size: 1.5em;
}

.navbar-menu:hover {
  color: #fff;
}

.offcanvas-body {
  padding: 0;
  height: 100%;
}

.offcanvas-body > div {
  min-height: 100%;
}

.offcanvas-body .nav-pills .nav-link {
  padding: 0.5rem 1rem;
  border-radius: 0;
}

.offcanvas-body .active.nav-link,
.offcanvas-body .active.nav-link:hover {
  background: #3f51b5;
}

.offcanvas-body .nav-link:hover {
  background: #1a237e;
}

.offcanvas-header .btn-close {
  border-radius: 50%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(30, $cell-dim);
  grid-template-rows: repeat(20, $cell-dim);
  // grid-template-columns: 1fr;
  // grid-template-columns: $cell-dim;
  grid-template-rows: $cell-dim;
}
.cell {
  width: $cell-dim;
  height: $cell-dim;
  background-color: transparent;
  display: inline-block;
  text-align: center;
}
.gridBorder {
  border: 1px solid rgb(206, 224, 247);
}
