@import "../node_modules/bootstrap/scss/bootstrap.scss";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  // background-color: #58566f;
  background-color: #424663;
  // background-color: azure;
  min-height: 100%;
}

body.index-body {
  background-color: #505aa7;
}

.page-wrapper,
.landing-wrapper {
  height: 100%;
}

.pb-for-chat {
  padding-bottom: 40px;
}

.text-truncated,
.text-truncated-parent,
.text-truncated-parent * {
  /* Ellipsis */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.anchor-name {
  display: block;
  position: relative;
  top: -130px;
  visibility: hidden;
}

.popover {
  z-index: 1029;
}

.navbar-menu {
  color: #eeeeee;
  font-size: 1.5em;
}

.navbar-menu:hover {
  color: #fff;
}

.offcanvas-body {
  padding: 0;
  height: 100%;
  overflow-y: hidden;
}

.offcanvas-body-top {
  overflow-y: auto;
  height: 100%;
  flex-wrap: nowrap;
}

.offcanvas-body-top.is-logged-in {
  height: calc(100% - 50px);
}

.offcanvas-body-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.offcanvas-body > div {
  height: 100%;
}

.offcanvas-body .nav-pills .nav-link {
  padding: 0.5rem 1rem;
  border-radius: 0;
}

.offcanvas-body .active.nav-link,
.offcanvas-body .active.nav-link:hover {
  background: #3f51b5;
}

.offcanvas-body .nav-link:hover {
  background: #1a237e;
}

.offcanvas-header .btn-close {
  border-radius: 50%;
}

.chat-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.join-chat-container {
  color: #212121;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.join-chat-container h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.join-chat-container input {
  width: 210px;
  height: 40px;
  margin: 7px;
  border: 2px solid #43a047;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}

.join-chat-container button {
  width: 225px;
  height: 50px;
  margin: 7px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background: #43a047;
  color: #fff;
  cursor: pointer;
}

.join-chat-container button:hover {
  background: #2e7d32;
}

.chat-container {
  display: flex;
  justify-content: center;
}

.chat-window {
  height: 100%;
  flex-grow: 1;
}

.chat-window p {
  margin: 0;
}
.chat-window .chat-header p {
  display: block;
  padding: 0 1em 0 2em;
  color: #fff;
  font-weight: 700;
  line-height: 45px;
}

.chat-window .chat-body {
  height: 15vh;
  border: 1px solid #263238;
  background: rgba(33, 33, 33, 0.85);
  position: relative;
}
.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}
.chat-window .chat-body .message {
  height: auto;
  padding: 10px;
  display: flex;
}

.chat-window .chat-body .message .message-content {
  width: auto;
  height: auto;
  min-height: 40px;
  max-width: 120px;
  background-color: #43a047;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#you {
  justify-content: flex-start;
}

#you .message-content {
  justify-content: flex-start;
}

#you .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
}

#other {
  justify-content: flex-end;
}

#other .message-content {
  justify-content: flex-end;
  background-color: cornflowerblue;
}

#other .message-meta {
  justify-content: flex-end;
  margin-right: 5px;
}

.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 12px;
  color: #fff;
}

.chat-window .chat-footer {
  height: 40px;
  border: 1px solid #263238;
  border-top: none;
  display: flex;
}

.chat-window .chat-footer input {
  height: 100%;
  flex: 85%;
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
  background: rgba(38, 50, 56, 0.85);
  outline: none;
  color: #fff;

  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #b0bec5;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    color: #b0bec5;
  }
  &:-ms-input-placeholder {
    /* IE 10+ */
    color: #b0bec5;
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    color: #b0bec5;
  }
}

.chat-window .chat-footer button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.85);

  &.chat-submit-button {
    flex: 12.5%;
    background: rgba(139, 195, 74, 0.85);

    &:hover {
      color: rgba(51, 105, 30, 0.85);
    }
  }

  &.chat-expand-button {
    flex: 6.25%;
    background: rgba(79, 195, 247, 0.85);

    &:hover {
      color: rgba(1, 87, 155, 0.85);
    }
  }
}

.hide {
  opacity: 0 !important;
}

.grid-wrapper {
  flex-basis: 900px;
  align-self: stretch;
  position: relative;
}

// Class added to stretch your position: absolute grids
// width-wise, from left to right. No 'bottom' property,
// because we don't care about the height of the entire grid.
// We let height be determined by number of rows X height of
// cell
.position-absolute-stretch {
  top: 0;
  left: 0;
  right: 0;
}

.position-absolute-index-grid {
  top: 16px;
  left: 16px;
  right: 16px;
}

.grid-container {
  display: grid;
  /* 
    Setting all values to 1fr, or 1 fractional unit (width divided by 30).
    Unfortunately still had to rely on padding-bottom :after CSS hack for 
    rows, since no way for row heights to follow column widths. But setting
    then all to 1fr first just for consistency.
  */
  // grid-template-columns: repeat(30, 1fr);
  // grid-template-rows: repeat(20, 1fr);
  grid-template-columns: repeat(40, 1fr);
  grid-template-rows: repeat(30, 1fr);
  grid-template-rows: 1fr;
}

.index-grid-container {
  @extend .grid-container;
  grid-template-columns: repeat(34, 1fr);
  background: #424663;
}

blockquote.quote {
  position: relative;
  text-align: center;
  padding: 1rem 1.2rem;
  width: 80%; /* create space for the quotes */
  color: #484748;
  margin: 2rem auto 2rem;
}

blockquote.EN {
  background: linear-gradient(to right, #7c3aed 4px, transparent 4px) 0 100%,
    linear-gradient(to left, #7c3aed 4px, transparent 4px) 100% 0,
    linear-gradient(to bottom, #7c3aed 4px, transparent 4px) 100% 0,
    linear-gradient(to top, #7c3aed 4px, transparent 4px) 0 100%;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

blockquote.quote .quote-before,
blockquote.quote .quote-after {
  position: absolute;
  color: #7c3aed;
  font-size: 34px;
}

blockquote.EN .quote-before {
  top: -12px;
  margin-right: -20px;
  right: 100%;
}
blockquote.EN .quote-after {
  margin-left: -20px;
  left: 100%;
  top: auto;
  bottom: -20px;
}

.cell {
  /* Set width to be 100% of CSS grid column */
  width: 100%;
  /* 
    Relative positioning for absolute .cell-charfill to follow 
    in setting top, left values against
  */
  position: relative;
  background-color: transparent;
  display: inline-block;
  text-align: center;

  .cell-charfill {
    /* For centerising characters in a cell */
    position: absolute;
    font-size: 1.8em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #58566f;
    // color: #58566f;
  }

  &:after {
    content: "";
    /* 
      Next 2 lines are key (CSS hack) for setting width = height, 
      using padding-bottom 
    */
    display: block;
    padding-bottom: 100%;
  }
}
.gridBorder {
  // border: 1px solid #766675;
  border: 1px solid #58566f;
  // border: 1px solid rgb(206, 224, 247);
}
